In [30]:
pip install kafka-python

Requirement already satisfied: kafka-python in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.0.2)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
from json import dumps
import json

In [32]:
# producer = KafkaProducer(bootstrap_servers=['3.83.148.55:9092'],
#                          value_serializer=lambda x:
#                          dumps(x).encode )

In [35]:
from kafka import KafkaProducer

# Assuming 'producer' is your Kafka producer instance
producer = KafkaProducer(
    bootstrap_servers=['3.83.148.55:9092'],
    value_serializer=lambda x: x
)

In [36]:
message = b"{'name':'Philip Obiorah'}"
producer.send('demo_test', value=message)

In [3]:
df = pd.read_csv("data/indexProcessed.csv")

In [4]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [37]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
75034,GSPTSE,2015-05-11,15182.2002,15237.2002,15108.90039,15152.59961,15152.59961,1.466014e+10,12576.657676

In [108]:
while True:
    dict_stock= df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

NameError: name 'producer' is not defined

In [ ]:
producer.flush() #clear data form kafka server